@import url('./index.css'); /* Asegúrate de que la ruta sea correcta */




.main-container {
    background-color: var(--color-primary);

    display: flex; /* Activa flexbox */
    flex-direction: row; /* Alinea hijos horizontalmente */
    height: 100%; /* Ocupa el 100% del alto del padre (:root) */
    width: 100%; /* Ocupa el 100% del ancho */
    gap: 20px; /* Espacio entre elementos (opcional) */
    padding: 20px; /* Padding para no pegarse a los bordes (opcional) */
    box-sizing: border-box; /* Incluye padding en el ancho/alto total */
}
  
.Plot-div {
    background-color: var(--color-secondary);
    flex: 1; /* Ocupa todo el espacio restante */
    border-radius: 10px;
}

.Analitics {
    background-color: var(--color-secondary);
    flex: 0 0 auto; /* No crece, no se encoge, ocupa solo el ancho de su contenido */
    border-radius: 10px;
    padding: 10px; /* Añade un poco de padding para que no esté pegado al contenido */
}